@import "top.css";
@import "hosts.css";
@import "spinner.css";

body {
    background-color: #CCCCCC;
}

a {
    color: #000088;
    text-decoration: none;
}

a:link,
a:visited {}

a:hover,
a:active {
    text-decoration: underline;
}

b {
    font-weight: 600;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

#notify {
    position: fixed;
    display: inline-block;

    top: 0;
    padding: 4px;

    /* To center position:fixed element */
    left: 50%;
    transform: translateX(-50%);

    font-size: 24px;
    background-color: #ffffff;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

#notify.hidden {
    display: none;
}

.mac {
    font-family: "Noto Sans Mono", monospace;
}