@import "top.css";
@import "hosts.css";
@import "notify.css";
@import "window.css";

a {
    color: #000088;
    text-decoration: none;
}

a:link,
a:visited {}

a:hover,
a:active {
    text-decoration: underline;
}

b {
    font-weight: 600;
}

.mac {
    font-family: "Noto Sans Mono", monospace;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    background-color: #CCCCCC;
}