@import "top.css";
@import "tiles.css";
@import "window.css";
@import "notify.css";

body {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    background-color: #CCCCCC;
}

a {
    color: #000088;
    text-decoration: none;
}

a:link,
a:visited {}

a:hover,
a:active {
    text-decoration: underline;
}

b {
    font-weight: 600;
}

h1 {
    margin: 0;
}

.mac {
    font-family: "Noto Sans Mono", monospace;
}

.badge {
    padding: 2px;
    color: #ffffff;
    background: linear-gradient(#888877, #777766);
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.badge.ok {
    background: linear-gradient(#009926, #008822);
}

.badge.err {
    background: linear-gradient(#bb2500, #aa2200);
}